.homeCanvas {
    width: 100vw;
    height: 100vh;
    max-width:100%;

}

.homeContainer {
    background-color: white;
    padding-top: 4vmax;
    border-radius: 0 0 200px 200px;
    border-bottom: 200px solid white;
    position: relative;
    z-index: 1;

}

.homeContainer > h3 {
    text-align: center;
    color: rgba(22,20,20,0.904);
    padding: 4vmax;

}

.homeSkills {
    transform: translateY(-200px);
    background-color: hsl(219,48%,8%);
    height: 1500px;
    position: relative;
    padding: 200px;
    box-sizing:border-box;
    perspective: 450px;
    margin-bottom: -200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

.homeSkills > h3 {
    color: white;
}

.homeCubeSkills {
    width: 200px;
    height: 200px;
    animation: cubeRotation 15s linear infinite alternate;
    transform-style: preserve-3d;
}

@keyframes cubeRotation {
    to {
        transform: rotateY(360deg) rotateX(480deg) rotateZ(720deg);

    }
}
.homeCubeSkillsFaces {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgb(0,0,0);
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0.7;
}

.homeCubeSkillsFaces > img {
    width: inherit;
    height:inherit;

}
.cubeShadow {
    width: 300px;
    height: 40px;
    background-color: rgba(255,255,255,0.171);
    border-radius: 50%;
    animation: cubeShadow 1s ease-in-out infinite alternate;
    filter: blur(3px);
}

@keyframes cubeShadow {
    to {
        transform: translateY(-10px) scale(1.2);
    }
}

.homeCubeSkillsFace1 {
    transform: translate3d(0,0,150px);

}
.homeCubeSkillsFace2 {
    transform: rotateY(180deg) translate3d(0,0,150px);
    
}
.homeCubeSkillsFace3 {
    transform: rotateY(-90deg) translate3d(0,0,150px);
    
}
.homeCubeSkillsFace4 {
    transform: rotateY(90deg) translate3d(0,0,150px);
    
}
.homeCubeSkillsFace5 {
    transform: rotateX(-90deg) translate3d(0,0,150px);
    
}
.homeCubeSkillsFace6 {
    transform: rotateX(90deg) translate3d(0,0,150px);
    
}
.homeSkillsBox {
    background-color: hsl(250,100%,75%);
    padding: 0 1.1vmax;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform: translateY(20px);
}

.homeSkillsBox > svg {
    font-size: 3.5vmax;
    color: rgb(255,255,255);
    transition: all 0.5s;
    margin: 10px;
    

}

.homeSkillsBox > svg:hover {
    transform: scale(1.25);
}

.homeYoutube {
    background-color: white;
    padding-top: 4vmax;
    transform: translateY(-300px);
    border-radius: 20% 20% 0 0;
    position: relative;
    margin-bottom: -200px;
    box-sizing: border-box;
    min-height: 1000px;
}

.homeYoutube >h3 {
    text-align: center;
    color: rgba(22,20,20,0.904);
    padding: 4vmax;


}

.homeYoutubeWrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vmax;
    width: 80%;
    margin: auto;
    border: 1px solid hsl(250,100%,75%);
}



